<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilevue.vod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tv_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobilvue.vod.AuthenticationAcitivity"
            android:label="@string/app_name">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.mobilvue.vod.RegisterActivity">
        </activity>
        <activity 
            android:name="com.mobilvue.vod.PlanActivity">
        </activity>
        <activity
            android:name="com.mobilvue.vod.PlanMenuActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.mobilvue.vod.VodMenuActivity"
            android:launchMode="singleTask">
        </activity>
        <activity 
            android:name="com.mobilvue.vod.OrderEventActivity">
        </activity>
        <activity 
            android:name="com.mobilvue.vod.VideoPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity 
            android:name="com.mobilvue.vod.EpgDetailsActivity">
        </activity>
    </application>

</manifest>