<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilevue.vod"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobilevue.vod.AuthenticationAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.NetworkCheckActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilevue.vod.MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.RegisterActivity"
            android:label=""
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.PlanActivity"
            android:label=""
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.ChannelsActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilevue.vod.MainActivity" />
        </activity>
        <activity
            android:name="com.mobilevue.vod.IPTVActivity"
            android:label=""
            android:parentActivityName=".ChannelsActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilevue.vod.MainActivity" />
        </activity>
        <activity
            android:name="com.mobilevue.vod.VodActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilevue.vod.MainActivity" />
        </activity>
        <activity
            android:name="com.mobilevue.vod.VodMovieDetailsActivity"
            android:label=""
            android:parentActivityName=".VodActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobilevue.vod.VodActivity" />
        </activity>
        <activity
            android:name="com.mobilevue.vod.VideoPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.MXPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.mobilevue.vod.MyAccountActivity"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name="com.mobilevue.service.ScheduleService" />
        <service android:name="com.mobilevue.service.NotifyService" />

        <receiver android:name="com.mobilevue.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.mobilevue.service.ScheduleAfterBootService" />
    </application>

</manifest>